.footer-nav {
    width: 100%;
    height: 110px;
    @include between;
    border-top: 3px solid $lightGrey;
    border-bottom: 1px solid $lightGrey;
    margin-bottom: 50px;
    flex-direction: column;
    @include phones {
        height: auto;
    }
}
.footer-nav__list {
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.footer-nav__item {
    margin-right: 1.5%;
    line-height: 1.4;
    &:last-child {
        margin-right: 0;
    }
}
.footer-nav__link {
    color: $grey;
    font-size: 14px;
    font-weight: bold;
    transition: 0.1s;
    &:hover {
        color: $blue;
    }
}
.footer-nav__apps {
    display: flex;
    align-items: center;
    @include phones {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}

.footer-info {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 19% 19% 19% 19%;
    @include tablets {
        grid-template-columns: 40% 40%;
        grid-row-gap: 20px;
        justify-content: space-around;
    }
    @include phones {
        grid-template-columns: 70%;
        justify-content: center;
    }
}
.footer-info__item {
    display: flex;
    flex-direction: column;
    color: $grey;
    @include tablets {
        text-align: center;
    }
}
.footer-info__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}
.footer-info__text {
    font-size: 14px;
    line-height: 1.4;
}
