.header {
    width: 100%;
    height: rem(150px);
    @include notepad {
        height: 100px;
    }
    @include n1000 {
        height: 70px;
    }
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}
.logo__img {
    width: 60px;
    height: 57px;
    margin-right: 5%;
    background: url(./icons/png/logo.png) center center / cover no-repeat;
    @include notepad {
        width: 45px;
        height: 42px;
    }
    @include n1100 {
        width: 35px;
        height: 30px;
    }
    @include n1000 {
        width: 45px;
        height: 42px;
    }
}
.logo__text {
    text-transform: uppercase;
    align-self: flex-end;
    color: $blue;
    font-size: 14px;
    font-weight: bold;
    @include notepad {
        font-size: 13px;
    }
    @include n1100 {
        font-size: 12px;
    }
    @include n1000 {
        font-size: 14px;
    }
}
//NAV
.header-nav {
    @include notepad {
        flex: 0.965;
    }
    @include n1000 {
        flex: none;
    }
}
.header-nav__list {
    width: 100%;
    @include between;
    @include n1000 {
        display: none;
    }
}
.header-nav__item {
    margin-right: 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    @include notepad {
        margin-right: 2%;
        font-size: 16px;
        font-weight: 600;
    }
    @include n1100 {
        font-size: 15px;
    }
}
.header-nav__link {
    color: $blackHeader;
    opacity: 0.5;
    transition: 0.2s;
    &:hover {
        opacity: 1;
    }
}
//SETTING
.header-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    @include n1000 {
        display: none;
    }
}
.header-setting__item {
    cursor: pointer;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
    @include notepad {
        margin-right: 20px;
    }
}
.header-setting__svg {
    width: 19px;
    height: 19px;
    &_search {
        fill: $grey;
    }
}
.header-setting__set-lang {
    width: 21px;
    height: 20px;
    border-radius: 50%;
    background: url(./icons/png/rf-flag.png) center center / cover no-repeat;
}
.header-setting__user-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(./icons/png/user-logo.png) center center / cover no-repeat;
}
// GAMBURGER
/* скрываем чекбокс */
.hamburger-menu {
    display: none;
    position: relative;
    width: 26px;
    height: 26px;
    @include n1000 {
        display: block;
    }
}
#menu__toggle {
    display: none;
}
/* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.menu__btn > span::before {
    content: "";
    top: -8px;
}
.menu__btn > span::after {
    content: "";
    top: 8px;
}
/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #cfd8dc;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
