.questions-list {
    width: 100%;
    margin-bottom: 40px;
}
.questions-list__item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $lightGrey;
    @include tablets {
        box-sizing: border-box;
        padding-right: 20px;
    }
    @include phones {
        margin-right: 0;
        padding: 0;
    }
}
.questions-block {
    width: 100%;
    height: 70px;
    line-height: 1.4;
    @include between;
    @include phones {
        height: auto;
        box-sizing: border-box;
        padding: 10px 0;
    }
}
.questions-block__text {
    font-size: 19px;
    font-weight: bold;
    margin-right: 10px;
    @include phones {
        margin-right: 0;
    }
}
.questions-list__answer {
    display: none;
    width: 55%;
    line-height: 1.4;
    color: $greyText;
    margin-bottom: 35px;
    @include n1000 {
        width: 100%;
    }
}
//BTN
.questions-block__btn {
    transform: rotate(45deg);
    position: relative;
    width: 20px;
    height: 20px;
    @include tablets {
        position: absolute;
        right: 1%;
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
    }
    @include phones {
        display: none;
    }
}

.questions-block__btn:before,
.questions-block__btn:after {
    position: absolute;
    top: 0;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: $grey;
}
.questions-block__btn:before {
    transform: rotate(45deg);
}
.questions-block__btn:after {
    transform: rotate(-45deg);
}

.questions-list__item_active .questions-block__btn:before {
    background-color: $blue;
}
.questions-list__item_active .questions-block__btn:after {
    background-color: $blue;
}
.questions-list__item_active .questions-block__btn {
    transform: translateY(-50%) rotate(90deg);
    right: 0;
    @include t600 {
        right: -0.5%;
    }
}
.questions-list__item_active .questions-list__answer {
    display: block;
}
