.intro {
    background-color: $green;
    width: 100%;
    height: 480px;
}
.intro__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablets {
        justify-content: center;
    }
}
.intro-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 619px;
    box-sizing: border-box;
    padding: 5.2% 0;
    @include n1000 {
        padding: 7% 0 5.2% 0;
    }
    @include phones {
        justify-content: center;
    }
}
.intro-main__wrap-headline {
    width: 260px;
    text-align: center;
    border: 13px white solid;
    border-bottom: none;
    margin-bottom: 70px;
    @include n1000 {
        margin-bottom: 50px;
    }
    @include phones {
        margin-bottom: 30px;
    }
}
.intro-main__headline {
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.intro-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-title-block {
    @include center;
    font-weight: 500;
    color: white;
    @include n1000 {
        flex-direction: column;
    }
    @include phones {
        display: none;
    }
}
.intro-title-block__title {
    margin-right: 19px;
    font-size: 60px;
    @include phones {
        font-size: 50px;
    }
}
.intro-title-block__subtitle {
    font-size: 43px;
    opacity: 0.5;
    @include phones {
        font-size: 30px;
    }
}
.intro-info__descript {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: white;
    margin: 30px 0;
}
.intro-info__link {
    background-color: $blue;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
}
.award-item {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid $lightGreen;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
.intro-awards {
    box-sizing: border-box;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    width: 210px;
    @include tablets {
        display: none;
    }
}
.award-item__pic-block {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $lightGreen;
}
.award-item__pic {
    width: 29px;
    height: 72px;
}
.award-item__descript {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    color: white;
    font-size: 17px;
}
//BREADCRUMBS
.breadcrumbs {
    position: absolute;
    top: 20px;
    left: 5%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    @include n1100 {
        left: 3%;
    }
}
.breadcrumbs__item {
    margin-right: 9px;
    &:last-child {
        margin-right: 0;
    }
}
.breadcrumbs__link {
    font-size: 14px;
    color: $lightGreen;
}
.breadcrumbs__arrow {
    width: 9px;
    height: 7px;
    margin-left: 7px;
    transform: rotate(-90deg);
    fill: $lightGreen;
}
.stub {
    width: 0.1px;
    height: 0.1px;
    flex: 0.33;
    @include tablets {
        display: none;
    }
}
