.product-menu {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.product-present {
    height: 780px;
    width: 100%;
    border-radius: 15px;
    background-color: $green;
    @include center;
    box-sizing: border-box;
    padding: 3%;
    @include tablets {
        flex-direction: column;
        height: auto;
    }
}
.product-view {
    display: flex;
    align-items: center;
    @include tablets {
        margin-bottom: 5%;
        flex-direction: column;
    }
}
.product-pic {
    width: 355px;
    height: 709px;
    margin-right: 100px;
    @include tablets {
        margin-right: 0;
    }
    @include t600 {
        width: 176px;
        height: 357px;
    }
}
.product-caroosel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    @include tablets {
        margin-bottom: 10%;
        flex-direction: row;
        margin-right: 0;
    }
}
.product-caroosel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    @include tablets {
        margin-bottom: 0;
        margin-right: 10px;
        flex-direction: row;
    }
}
.product-caroosel__btn {
    width: 5px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    opacity: 0.4;
    @include tablets {
        width: 30px;
        height: 5px;
    }
    &_active {
        width: 10px;
        border-radius: 4px;
        opacity: 1;
        margin-left: 2px;
        @include tablets {
            width: 30px;
            height: 10px;
        }
    }
}
.product-description {
    display: flex;
    flex-direction: column;
    color: white;
    width: 330px;
    @include tablets {
        width: 90%;
        align-items: center;
        text-align: center;
    }
}
.product-download {
    height: 70px;
    width: 170px;
    border-radius: 3px;
    background-color: #3a3a40;
    position: relative;
    transition: 0.2s;
    &:hover {
        background-color: $blue;
    }
    &_mright {
        margin-right: 5%;
        @include phones {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}
.product-description__app {
    margin-bottom: 40px;
    line-height: 1.4;
    &:last-child {
        margin-bottom: 0;
    }
}
.product-download_btn {
    height: 100%;
    width: 100%;
    color: white;
    text-align: start;
    box-sizing: border-box;
    padding-left: 55px;
}
.product-download__apple {
    width: 26px;
    height: 30px;
    fill: white;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
