body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}
.wrapper {
    font-family: "Roboto", sans-serif;
    width: 98.8vw;
    height: 100vh;
}
.container {
    box-sizing: border-box;
    padding: 0 5%;
    width: 100%;
    height: 100%;
    position: relative;
}
.section {
    width: 100%;
}
