$blue: #0079ff;
$blackHeader: #020a17;
$blackBtn: #4e4d55;

$green: #00634c;
$lightGreen: #2c7e6b;
$grey: #a3a4a7;
$greyText: #828a99;
$lightGrey: #f2f2f2;

//NUMBERS
$greenBackgrNumber: #eef9ee;
$greenNumber: #5cc45c;
$redBackgrNumber: #ffebec;
$redNumber: #ff3946;
$greyBackgrNumber: #f1f2f1;
$greyNumber: #5c5f63;
